.consulta-div{

			background-color: rgba(23, 32, 42,.2);
			margin: 20px auto;
			width: 98%;
			font-family: Tahoma, Geneva, sans-serif;
				padding: 10px;
					color: #17202A;
font-size: 14px;
					border-radius: 5px

}

.consulta-div h2 {
			text-align: center;
			color: #17202A ;
			font-size: 22px;
			padding: 20px 10px 20px 0;
	
		}
		.tb{
			margin-top: 2%;

		}
		table{
			border-radius: 4px; 
			border: 1px solid  #935A5A; 
			font-size: 12px;
			color: #ffffff;
			text-align: center;

		}
		table thead tr th, td{
			padding: 4px;
		}